<div class="container">
	<h3>Aureso Car Documentation</h3>

	<p>
	This README would normally document whatever steps are necessary to get the
	application up and running.
	</p>

	<ul>
		<li>Ruby version - 2.2.2</li>
		<li>Rails version - 4.2.6</li>
		<li>
			Configuration
			<ul>
				<li>postgresql - 9.4.5</li>
			</ul>
		</li>
		<li>
			Database creation
			<ul>
				<li>rake db:migrate RAILS_ENV=development</li>
				<li>rake db:migrate RAILS_ENV=test</li>
			</ul>
		</li>
		<li>Database initialization
				<ul>
					<li>rake db:seed RAILS_ENV=development</li>
					<li>rake db:seed RAILS_ENV=test</li>
				</ul>
		</li>
		<li>How to run the test suite
		<ul>
			<li>bundle exec rspec spec/controllers/api/v1/tracks_controller_spec.rb</li>
			<li>bundle exec rspec spec/controllers/api/v1/cars_controller_spec.rb</li>
		</ul>
		</li>
		<li>Deployment instructions
			<p>JSON collection link => https://www.getpostman.com/collections/65b324adfdaf21ca8fd0</p>
			<p>Admin Panel to control resource => http://localhost:3000/admin, http://auresosg.herokuapp.com/admin</p>
			<p>(There are two APIs called Track and Car. I created general APIs for CRUD to check from postman collection, and 'api/v1/cars/:car_slug' is existing under of Car folder.)</p>
		</li>
	</ul>

	<section>
		<article>
			<h4>For Question 1</h4>
			<ul>
				<li>Calculate max_speed_on_track by picking randomly from integer range[0..35]</li>
			</ul>
		</article>

		<article>
			<h4>For Question 2</h4>
			<ul>
				<li>For "surface_type", slowing rate is picking randomly from the range of [0..35] only if requested "surface_type" is included in requested Track.surface_type. If other else, it is skipped. </li>
				<li>For "current_driving_time", "time_zone" columns are saved for specific Track object while creating the records into database. Then, calculate the slowing rate of specific time_frame depend on current Track.time_zone.</li>
				<li>Ref: https://github.com/dmfilipenko/timezones.json/blob/master/timezones.json</li>
			</ul>
		</article>
	</section>
</div>